body{
  display: block;
  margin: 8px;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topLeft{
  display: flex;
  flex-direction: row;
}

.titleLogo{
  width: 70px;
}

.titleText{
  color: #4D1979;
  font-weight: bolder;
  font-size: x-large;
  margin-top: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login{
  background: #4D1979;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.pageBody{
  height:100%;
}

.content{
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addButton{
  background: #4D1979;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.viewLoansButton{
  background: #4D1979;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.searchBar{
  display: flex;
  align-items: center;
  background: #4D1979;
}

.searchBar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

::placeholder{
  color: white;
}

.searchBar button img{
  height: 20px;
  background-color: #4D1979;
}

.searchBar button{
  border: 0;
  border-radius: 50%;
  background-color: #4D1979;
  height: 20px;
  cursor: pointer;
}

.tableContent{
  background-color: #A9A9A9;
  flex-grow: 1;
}

.tableTop{
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background: #4D1979;
  padding-top: 7px;
  padding-bottom: 7px;
}

.tableTopElement{
  color: white;
  align-self: center;
}

.tableBottom{
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: #4D1979;
  color: white;
}

.tableNavigation{
  grid-column-start: 4;
  display: flex;
  justify-content: space-between;
}

.goTo{
  cursor: pointer;
}

.dataRow{
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: #A9A9A9;
}

.nameCell{
  text-decoration: underline;
  cursor: pointer;
}